<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">

  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/2e7df1c6d0.js"
      crossorigin="anonymous"
    ></script>

    <title>Webcam Adjustment Recommender</title>
    <meta
      name="description"
      content="Web application to assist people with directions to adjust their web camera"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
      <link rel="stylesheet" href = "{% static '/index.css'%}" >

  </head>
  <body>

    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header>
      <i title="camera icon" class="fa-solid fa-camera"></i>
      <h1 id="webpage-title">Webcam Adjustment Recommender</h1>
    </header>

    <div class="about">
      <h2>About</h2>
      <p>In an increasingly digital era, webcams are becoming more necessary as online meetings are becoming the norm inside
        of everyday life. This newfound webcam importance has highlighted an important issue those with visual impairments face.
         Webcams are an entirely visually focused media and have no way of providing feedback besides visually.
         We are here to accomadate that issue by providing auditory cues to center a users face in the webcam such as "move up",
          "move down", "move left" and "move right". This will enable those who typically do not benefit from webcams to use them for things such as 
        video calls with family, remote work, and any teleconferencing needs. </p>
    </div>


    <section id="feedback-section">
      <div >
          <img src="{%  url 'webcam_feed' %}"
               style  =" width:auto; height:auto;"
               alt=" users webcam feed">
      </div>

        <form method="POST"> {%  csrf_token%}
{#            <input type="text" name = 'title_of_posted_info' placeholder="TempPlaceHolder"/>#}
            <button
                title="recommendations button"
                type="submit"
                value="Check Camera Feed"
                id="get-recs" >
            Get Recommendations
            </button>
        </form>

    </section>

    {% if result != None %}
        {% if result == 'Good' %}
            <section id="recommendations-section">
              <div id="recommendations-container">
                <div class="recommendationSuccess">
                  <p class="rec-text">
                      Great Camera Feed!
                  </p>
                  <audio controls>
                      <source src="{% static '/Down.mp3'%}" type="audio/mpeg">
                      Your browser does not support the audio element.
                  </audio>
                </div>
              </div>
            </section>
        {% else %}
            <section id="recommendations-section">
              <div id="recommendations-container">
                <div class="recommendation">
                  <p class="rec-text">
                      {{ result }}
                  </p>

                  <audio controls autoplay>
{#                      <source src="{% static '/Down.mp3'%}" type="audio/mpeg">#}
{#                      <source src="/static/Recommendation - Move camera up.mp3" type="audio/mpeg">#}
                      <source src="{% static '/'%}{{ result }}.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                  </audio>

                </div>
              </div>
            </section>

        {% endif %}

    <h>{{ result }}</h>
        <br>
{#        <h>{% static '/'%}+{{ result }}+.mp3</h>#}
        <h>{% static '/'%}{{ result }}.mp3</h>
    {% endif %}
    <script src="" async defer></script>
  </body>
</html>
