<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">

  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/2e7df1c6d0.js"
      crossorigin="anonymous"
    ></script>

    <title>Webcam Adjustment Recommender</title>
    <meta
      name="description"
      content="Web application to assist people with directions to adjust their web camera"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
      <link rel="stylesheet" href = "{% static '/index.css'%}" >

  </head>
  <body>

    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->


    <div>
      <button
        title="light &  dark mode button"
        id="light-dark"
        onclick="change()"
      >
        <i
          title="light-dark mode icon"
          id="light-dark-icon"
          class="fa-solid fa-sun"
        ></i>
      </button>
    </div>

    <div>
      <button
        title="About information toggle"
        id="about-button"
        onclick="changeAbout()"
      >
        <i
          title="question mark icon"
          id="question-mark-icon"
          class="fa-solid fa-question"
        ></i>
      </button>
    </div>

    <section title="about" class="about-sec" id="about-sec">
      <p id="about-body">
        This website is meant to serve as a virtual assistant that will provide
        blind and visually impaired people with instuctions on how to correctly
        position their webcam.
      </p>
    </section>


    <header>
        <i title="camera icon" class="fa-solid fa-camera" alt="camera lens icon"></i>
{#      <img src="./assets/diaphragm.png" alt="camera lens icon" />#}
      <h1 id="webpage-title">Webcam Adjustment Recommender</h1>
{#      <img src="./assets/diaphragm.png" alt="camera lens icon" />#}
        <i title="camera icon" class="fa-solid fa-camera" alt="camera lens icon"></i>
    </header>

    <div class="about">
      <h2>About</h2>
      <p>In an increasingly digital era, webcams are becoming more necessary as online meetings are becoming the norm inside
        of everyday life. This newfound webcam importance has highlighted an important issue those with visual impairments face.
         Webcams are an entirely visually focused media and have no way of providing feedback besides visually.
         We are here to accomadate that issue by providing auditory cues to center a users face in the webcam such as "move up",
          "move down", "move left" and "move right". This will enable those who typically do not benefit from webcams to use them for things such as
        video calls with family, remote work, and any teleconferencing needs. </p>
    </div>

    <br>
    <section id="feedback-section">
      <div >
          <img src="{%  url 'webcam_feed' %}"
               style  =" width:auto; height:auto;"
               alt=" users webcam feed">
      </div>

        <form method="POST"> {%  csrf_token%}
{#            <input type="text" name = 'title_of_posted_info' placeholder="TempPlaceHolder"/>#}
            <button
                title="recommendations button"
                type="submit"
                value="Check Camera Feed"
                id="get-recs" >
            Get Recommendations
            </button>
        </form>

    </section>

    <section id="recommendations-section">
        {% for key,value in rec_dic.items %}
          <div id="recommendations-container">
              {% if key == "good" %}
                  <div class="recommendation">
                    <p class="rec-text">
                    Great Camera Feed!
                    </p>

                    <audio controls preload="auto" autoplay>
                    <source src="{% static '/You have a good video feed.mp3'%}" type="audio/mp3">
                     Your browser does not support the audio element.
                    </audio>
                  </div>
              {% else %}
                    <div class="recommendation">
                    <p class="rec-text">
                    {{ value }}
                    </p>

                    <audio controls preload="auto" autoplay>
                    <source src="{% static '/'%}{{ value }}.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                    </audio>
                    </div>
              {% endif %}
          </div>
        {% endfor %}
    </section>

    <script src="" async defer></script>
    <script>
      function change() {
        var element = document.body;
        element.classList.toggle("dark-mode");
        if (
          document.getElementById("light-dark-icon").className ==
          "fa-solid fa-sun"
        ) {
          document.getElementById("light-dark-icon").className =
            "fa-solid fa-moon";
          document.getElementById("light-dark-icon").style.color =
            "rgb(230,230,230)";
          document.getElementById("question-mark-icon").style.color =
            "rgb(230,230,230)";
        } else {
          document.getElementById("light-dark-icon").className =
            "fa-solid fa-sun";
          document.getElementById("light-dark-icon").style.color =
            "rgb(19,19,19)";
          document.getElementById("question-mark-icon").style.color =
            "rgb(19,19,19)";
        }
      }

      function changeAbout() {
        if (document.getElementById("about-sec").className == "about-sec") {
          document.getElementById("about-sec").className = "about-sec2";
        } else {
          document.getElementById("about-sec").className = "about-sec";
        }
      }
    </script>
  </body>
</html>
